<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escape Game</title>
    <link rel="stylesheet" href="./src/css/style.css">
    <link rel="shortcut icon" href="./src/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./src/images/favicon.ico" type="image/x-icon">
    
    <!-- CDNs -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b0d71d7fba.js" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
    <script src="https://unpkg.com/vue-i18n@8"></script>
    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>
    
    <!-- Clases -->
    <script src="./src/classes/user.js"></script>
    <script src="./src/classes/PeerClient.js"></script>
    <script type="application/javascript" src="./src/classes/sound-settings.js"></script>

    <!-- Media -->
    <script src="./node_modules/getusermedia/getusermedia.bundle.js"></script>
    <script src="./src/js/media.js"></script>

    <!-- Vue -->
    <script src="./src/vue/components/home.js"></script> 
    <script type="module" src="./src/vue/components/friends-sidebar.js"></script> 
    <script type="module" src="./src/vue/components/notifications-sidebar.js"></script>
    <script src="./src/vue/components/login-warning.js"></script>
    <script src="./src/vue/components/login.js"></script>
    <script src="./src/vue/components/ranking.js"></script>
    <script src="./src/vue/components/profile.js"></script>
    <script src="./src/vue/components/trophies.js"></script>
    <script src="./src/vue/components/invitation.js"></script>
    <script src="./src/vue/components/password-recover.js"></script>
    <script src="./src/vue/components/settings/connect-controller.js"></script>
    <script src="./src/vue/components/settings/settings.js"></script>
    <script  type="module" src="./src/vue/components/settings/sound-settings.js"></script>
    <script src="./src/vue/components/settings/test-controller.js"></script>
    <script src="./src/vue/components/settings/change-language.js"></script>
    <script src="./src/vue/components/waiting-room.js"></script>
    <script type="module" type="application/javascript" src="./src/vue/components/chat.js"></script>
    <script src="./demo_game/classes/BluetoothConnection.js"></script>
    
    <script type="module" src="./src/vue/App.js"></script>

</head>
<body>
    <div id="app">
        <div class="container">
            <div v-show="currentPage == 'game'">
                <div id="game2"></div>
            </div>
            <transition name="fade">
                <home v-if="currentPage == 'home'" 
                    v-on:open-menu="menuOpen = $event" 
                    v-on:change-page="currentPage = $event"
                    v-on:update-profile="profileInfo = $event"
                    :user2="user"
                    :messages_unread="messagesunread"
                    :notifications_unread="notificationunsread"
                    >
                </home>
                <login 
                    v-if="currentPage == 'login'" 
                    v-on:change-page="currentPage = $event">
                </login>
                <login-warning 
                    v-if="currentPage == 'login-warning'" 
                    v-on:change-page="currentPage = $event">
                </login-warning>
                <settings
                    v-if="currentPage == 'settings'" 
                    v-on:change-page="currentPage = $event">
                </settings>
                <sound-settings 
                    v-if="currentPage == 'sound-settings'" 
                    v-on:change-page="currentPage = $event"
                    v-on:update-mic="mainMicId = $event"
                >
                </sound-settings>
                <connect-controller 
                    v-if="currentPage == 'connect-controller'" 
                    v-on:change-page="currentPage = $event">
                </connect-controller>
                <test-controller 
                    v-if="currentPage == 'test-controller'" 
                    v-on:change-page="currentPage = $event">
                </test-controller>
                <change-language
                    v-if="currentPage == 'change-language'" 
                    v-on:change-page="currentPage = $event">
                </change-language>
                <ranking 
                    v-if="currentPage == 'ranking'" 
                    v-on:change-page="currentPage = $event"
                    :ranking="rankingData"
                >
                </ranking>
                <profile 
                    v-if="currentPage == 'profile' || currentPage == 'friend'" 
                    v-on:change-page="currentPage = $event"
                    :user="profileInfo"
                    :page="currentPage"
                    :changeImg=false>
                </profile>
                <trophies 
                    v-if="currentPage == 'trophies'" 
                    v-on:change-page="currentPage = $event"
                    :levels="user.completedLevels">
                </trophies>
                <password-recover
                    v-if="currentPage == 'password-recover'" 
                    v-on:change-page="currentPage = $event"
                ></password-recover>
                <waiting-room
                    v-if="currentPage == 'waiting-room'" 
                    v-on:change-page="currentPage = $event"
                >
                </waiting-room>
            </transition>
            
            <chat 
                v-if="modalOpen == 'chat'" 
                v-on:open-modal="modalOpen = $event"
                :friend="friendChat"
                :user="user.username"
                :lastmessage="lastMessage">
            </chat>

            <transition name="fade">
                <invitation
                    v-if="modalOpen == 'invitation'" 
                    v-on:change-page="currentPage = $event"
                    v-on:open-modal="modalOpen = $event"
                    :username="user.username">
                </invitation>
                <div class="menu-close slide-link" v-if="menuOpen != 'none'" v-on:click="menuOpen = 'none'"></div>

            </transition>

            <transition name="slide">
                <friend 
                    v-if="menuOpen == 'friend'" 
                    :friends="user.friendsList"
                    v-on:open-menu="menuOpen = $event"
                    v-on:change-page="currentPage = $event"
                    v-on:update-profile="profile = $event"
                    v-on:open-modal="modalOpen = $event">
                </friend>
                <notification 
                    v-if="menuOpen == 'noti'" 
                    :notifications="user.notifications"
                    v-on:open-menu="menuOpen = $event">
                </notification>
            </transition>
        </div>
    </div>
    <video src="" id="cam"></video>
    <script>
        const socket = io("ws://localhost:3000");
    </script>
    
    <!-- Scenes Phaser -->
    <script type="application/javascript" defer src="./demo_game/scenes/Player.js"></script>
    <script type="application/javascript" defer src="./demo_game/scenes/WallsLayer.js"></script>
    <script type="application/javascript" defer src="./demo_game/scenes/Prueba.js"></script>
    <script type="application/javascript" defer src="./demo_game/scenes/Titlescreen.js"></script>
    <script type="application/javascript" defer src="./demo_game/scenes/Gameover.js"></script>
    <script type="application/javascript" defer src="./demo_game/scenes/Game.js"></script>
    <script type="application/javascript" defer src="./demo_game/scenes/PasswordScene.js"></script>
    <script type="application/javascript" defer src="./demo_game/scenes/Pause_scene.js"></script>
    <script type="application/javascript" defer src="./demo_game/scenes/SeePass.js"></script>
    <script type="application/javascript" defer src="./demo_game/scenes/EnterPasswordScene.js"></script>
    <script type="application/javascript" defer src="./demo_game/scenes/Time.js"></script>
    <script type="application/javascript" defer src="./demo_game/scenes/Ui.js"></script>
    <script type="application/javascript" defer src="./demo_game/main.js"></script>
</body>
</html>

