@font-face {
    font-family: "Asap";
    src: url("./AsapCondensed-Regular.ttf");
}

@font-face {
    font-family: "Bebas";
    src: url("./BebasNeue-Regular.ttf");
}

* {
    font-family: Asap;
    color: #68492E;
}

.container {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.container div {
    margin: 10px auto;
    
}


body {
    font-size: 26px;
    background-image: url("./bg.png");
    
}

h1 {
    font-family: Bebas;
    font-size: 172px;
    margin: 0;
    color: #68492E;
}

.selected {
    width: 603px;
    height: 72px;
    background-color: rgba(196, 196, 196, 0.56);
    font-size: 53px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #68492E;
    /*! margin: 10px; */
    color: #68492E;
    /*! font-size: 62px; */
    /*! line-height: 48px; */
    line-height: 72px;
}

.selected i {
    color: #68492E;
    /*! height: 44px; */
    /*! width: 89px; */

}

.mando span {
    color: #EFDEC3;
}

.mando {
    background: #68492E;
    width: 603px;
    height: 72px;
    font-size: 53px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #68492E;
    margin: 10px;
    color: #EFDEC3;
    line-height: 72px;
}

.mando i {
    color: #EFDEC3;
    /*! height: 44px; */
    /*! width: 89px; */
}

.volver {
    background: #EF4F4F;
    width: 283px;
    border-radius: 10px;
    color: #EFDEC3;
    padding: 10px;
    text-align: center;
    font-size: 52px;
    font-family: Bebas;
    margin: 0 auto;
    cursor: pointer;
    border: none;
}

.volver:hover {
    background: #EFDEC3;
    color: #EF4F4F;
    outline: 3px solid #EF4F4F;
}

.blue-button {
    background: #14448D;
    border-radius: 16px;
    color: #EFDEC3;  /* Color del texto*/
    padding: 15px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.blue-button:hover {
    background: #EFDEC3;
    color: #14448D;  /* Color del texto*/
    outline: 3px solid #14448D;
}

.cancel-button {
    text-align:center;
    background: #EF4646;
}

.accept-buttom {
    text-align:center;
    background: #49EE63;
}

.settings_menu{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings_menu .blue-button{
    font-size: 3em;
    font-family: Bebas;
    width: 13em;
    margin-bottom: 20px;
}

.botones{
    margin: 100px 0 200px 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.settings_menu .volver{
    margin-bottom: 1%;
}

input[type=text]{
    width: 614px;
    height: 89px;
    background: rgba(172, 171, 171, 0.33);
    border: 2px solid #68492E;
    border-radius: 10px;
    font-size: 42px;
    color: #EFDEC3; 
}

input[type=submit]{
    width: 481px;
    height: 107px;
    background: #14448D;
    border-radius: 16px;
    color: #EFDEC3;  /* Color del texto*/
    padding: 15px;
    text-align: center;
    cursor: pointer;
    border: none;
}




