@font-face {
    font-family: "Asap";
    src: url("./AsapCondensed-Regular.ttf");
}

@font-face {
    font-family: "Bebas";
    src: url("./BebasNeue-Regular.ttf");
}

* {
    font-family: Asap;
    color: #68492E;
}

.container {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.container div {
    margin: 10px auto;
    
}


body {
    font-size: 26px;
    background-image: url("./bg.png");
    
}

h1 {
    font-family: Bebas;
    font-size: 6em;
    margin: 0;
    color: #68492E;
    letter-spacing: 3px;
}

.selected {
    width: 603px;
    height: 72px;
    background-color: rgba(196, 196, 196, 0.56);
    font-size: 53px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #68492E;
    /*! margin: 10px; */
    color: #68492E;
    /*! font-size: 62px; */
    /*! line-height: 48px; */
    line-height: 72px;
}

.selected i {
    color: #68492E;
    /*! height: 44px; */
    /*! width: 89px; */

}

.mando span {
    color: #EFDEC3;
}

.mando {
    background: #68492E;
    width: 603px;
    height: 72px;
    font-size: 53px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #68492E;
    margin: 10px;
    color: #EFDEC3;
    line-height: 72px;
}

.mando i {
    color: #EFDEC3;
    /*! height: 44px; */
    /*! width: 89px; */
}
.icon{
    background-color: #FAA942;
    border-radius: 300px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.50);
}

.icon i{
    color: #EFDEC3;
    text-shadow: 0px 5px 15px rgb(0, 0, 0,0.50);
}

.icon-small{
    width: 75px;
    height: 75px;
    cursor: pointer;
}
.icon-small i{
    font-size: 38px;
}

.icon-profile{
    width: 250px; 
    height: 250px; 
}

.i-profile{
    font-size: 170px;
}

.cancel-button {
    text-align:center;
    background: #EF4646;
}

.accept-buttom {
    text-align:center;
    background: #49EE63;
}

/* 
Menu de configuracion
*/
.settings_menu{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Conjunto de botones*/
.botones{
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Boton por defecto*/
.btn{
    border: none;
    padding: 0 2.9em;
    border-radius: 16px;
    margin: 8px;
    display: inline-block;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: Bebas;
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

/*Boton azul*/
.blue{
    background: #14448D;
    color: #EFDEC3;
 
}

.blue:hover{
    background: #EFDEC3;
    color: #14448D;
    outline: 3px solid #14448D;
}

/*Boton Rojo*/
.red{
    padding: 0 1em;
    background: #aa0000;
    color: #EFDEC3;
}

.red:hover{
    background: #EFDEC3;
    color: #aa0000;
    outline: 3px solid #aa0000;
}

/*
Ajustes de sonido
*/

.sound_settings{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ajuste{
    border: 1px solid #68492E;
    border-radius: 13px;
    background-color: #c4c4c485;
    padding: 0 2.9em;
}

.ajuste > *{
    display: inline-block;
}

.ajuste select{
    background-color: #FBF1E3;
}


/*
index.html
*/

.pages {
    display: none;
}

.settings-btn {
    position: absolute;
    top: 30px;
    left: 30px;
}

input[type=text]{
    width: 614px;
    height: 89px;
    background: rgba(172, 171, 171, 0.33);
    border: 2px solid #68492E;
    border-radius: 10px;
    font-size: 42px;
    color: #EFDEC3;
}

td{ 
    font-size: 24px;
    background-color: #c4c4c486;
    border: 1px solid #562800;
}

input[type=submit]{
    width: 481px;
    height: 107px;
    background: #14448D;
    border-radius: 16px;
    color: #EFDEC3;  /* Color del texto*/
    padding: 15px;
    text-align: center;
    cursor: pointer;
    border: none;
}


#create{
    width:600px;
    text-align: left;
}

input[type=text]{
    width: 500px;
    height: 38px;
    background: rgba(172, 171, 171, 0.33);
    border: 2px solid #68492E;
    border-radius: 10px;
    font-size: 25px;
    color: #68492E;
    padding-left: 10px;
    margin-bottom: 10px;
}

input[type=submit]{
    width: 361px;
    height: 73px;
    background: #14448D;
    border-radius: 16px;
    color: #EFDEC3;
    text-align: center;
    cursor: pointer;
    font-family: Bebas;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 77px;
    text-align: center;
}
.profile{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.i-table{
    color: #FAA942;
    /*Borde iconos de las tablas*/
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    padding-left: 5px;
}
.center{
    text-align: center;
}

.table-profile{
    width: 25%;
    border-collapse: separate;  
    border-spacing: 5px 10px;
}

td{
    background-color: #c4c4c485;
    border: 1px solid #68492E;
    font-size: 24px;
}